<header>
  <h2>Leçon {{lesson.lesson_id}}</h2>
</header>

{% if error_message %}
  <p><strong>{{ error_message }}</strong> </p>
{% endif %}

{% if question.image != "" %}
  <img src="{{question.image.url}}" alt="Your image here">
{% endif %}
<p> {{ question.text }} </p>
<form action="{% url 'tabquiz:lesson' lesson.lesson_id %}" method="post">
  {% csrf_token %}
  {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
  {% endfor %}
  <br>
  <input type="submit" value="Choisir">
</form>

<form action="{% url 'tabquiz:index' %}">
    <input type="submit" value="retourner au menu des leçons" />
</form>
