{% extends 'tabquiz/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container text-center">
  <header>
    <h2>{% trans "Lesson" %} {{lesson.lesson_id}}</h2>
  </header>

  {% if error_message %}
    <p><strong>{{ error_message }}</strong> </p>
  {% endif %}

  {% if question.image != "" %}
    <img src="{{question.image.url}}" alt="Your image here">
  {% endif %}
  <p> {{ question.text }} </p>
  <form action="{% url 'tabquiz:lesson' lesson.lesson_id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <div class="form-group">
      <input type="radio" name="choice" id="choice{{ forloop.counter }}"
             class="form-radio-input"
             value="{{ choice.id }}"
             required/>
      <label for="choice{{ forloop.counter }}"
             class="radio-inline control-label">
        {{ choice.choice_text }}
      </label>
      <br>
    </div>
    {% endfor %}
    <br>

    <!-- prevent submit if no choices -->
    {% if choices.all %}
      <input type="submit" value="Choisir">
    {% endif %}
  </form>
  {% if question.is_final %}
    <p>{% trans "your path" %} :</p>
    <style>
      .list-group-item {
        display: list-item
      }
    </style>
    <ol class="list-group">
    {% for q in trace_route %}
      <li class="list-group-item">{{ q.text }}</li>
    {% endfor %}
  {% endif %}
</div>


{% endblock %}
